/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    color: rgb(6, 6, 6);
  }
  
  .container{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }

  .logo{
    display:inline-flex;
  }

  .logo img{
    width: 160px;
    height: 160px;
  }

  .cabecalho{
    background: linear-gradient(#126036, #0c4a26,  #062e18);
    background-color: #014d23;
    color: rgb(255, 255, 255);
    padding: 40px;
    text-align: center;
    border-radius: 0px 0px 20px 20px ;
  }
  
  .cabecalho h1{
    font-size: 40px;
    margin-bottom: 10px;
  }

  .cabecalho h3{
    font-family: sans-serif;
    font-weight: normal;
  }
  
 
  section h2{
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 5px;
  }

  section h3{
    color: black;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
  }
  
  section h4{
    color: black;
    font-size: 25px;
   padding: 10px;
  }

  section h5{
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 10px;
  }

  ul{
    padding-left: 20px;
    line-height: 35px;
  }
  
  .beneficio {
    background-color: #f8eabac8;
    padding: 25px;
    border-radius: 20px;
    min-width: 300px;
    margin: 15px;
  }
  
  .rodape {
    background: linear-gradient(#27794d, #10522c,  #062e18);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
  }